   @import url('https://fonts.googleapis.com/css?family=Kranky|Life+Savers|Glass+Antiqua');
   #sectional {
       padding: 10px;
   }
   
   h2,
   h3,
   h1 {
       color: cornflowerblue;
       font-family: Kranky, serif;
       font-size: 40px;
       padding: 1em;
       padding-bottom: .1em;
       padding-top: .5em;
       margin-bottom: 1px;
       margin-top: 1px;
   }
   
   body {
       font-family: "Glass Antiqua", sans-serif;
       padding: 1em;
   }
   
   p {
       color: coral;
       line-height: 1.2;
       font-size: 20px;
       padding-left:1em;
       padding-right: 1em;
       margin-top: 0px;
   }
   
   #content {
       width: 80%;
       max-width: 960px;
       margin: 0 auto;
   }
   
   footer {
       background-color: cornflowerblue;
   }
   
   #bottom {
       color: white;
       line-height: 70px
   }
   
   img {
       max-width: 100%;
       
   }
   
   nav {
       background-color: coral;
       color: white;
       font-family: "Life Savers", sans-serif;
       font-size: 17px;
       margin-top: -14px;
       line-height: 3em;
   }
   
   nav > ul {
       list-style-type: none;
       display: flex;
       justify-content: space-around;
       flex-flow: row wrap;
       margin-top: 0;
       position: relative; 
   }
   
   nav li {
       flex: 1 0 6em
   }
   
   nav a:visited {
       color: white;
       line-height: 3em;
       padding: 1em .6em; 
   }
   
a { color: antiquewhite; }

   nav a:active {
       text-decoration: none;
   }
nav a: hover { text-decoration-color: antiquewhite;
}
   
   #top-row,
   #middle-row {
       display: flex;
       flex-flow: row wrap;
       align-items: center;
       justify-content: center;
       background-color: antiquewhite;
       margin-bottom: 1em;
   }
   
   .leftcol,
   .rightcol {
       width: 48%;
       flex: 1 0 16em;
       margin: 15px;
       
   }
   
   .social {
       float: right;
       background-color: cornflowerblue;
   }
   
   bottom {
       height: 55px;
       display: inline-block;
   }

#logo { padding-bottom: 1em;}